{# 
  Jinja template voor oefening 1
#}
!
hostname {{ hostname }}
ip domain name {{ domain_name }}
ip name-server {{ dns_server }}
!
snmp-server community {{ snmp_community }} {{ snmp_type }}
snmp-server enable traps
snmp-server host {{ snmp_trap_destination_1 }} version 2c {{ snmp_trap_community }}
snmp-server host {{ snmp_trap_destination_2 }} version 2c {{ snmp_trap_community }}
!
