{#-
  Jinja template voor oefening 2
-#}
hostname {{ hostname }}
ip domain name {{ domain_name }}
ip name-server {{ dns_server }}
!
snmp-server community {{ snmp.community }} {{ snmp.type }}
snmp-server enable traps
{%- for snmp_dest in snmp.trap_destinations %}
snmp-server host {{ snmp_dest }} version 2c {{ snmp.trap_community }}
{%- endfor %}
!
{%- for int in interfaces %}
interface {{ int.name }}
 description {{ int.description }}
 ip address {{ int.ip_address }} {{ int.subnet_mask }}
{%- if int.mtu is defined %}
 mtu {{ int.mtu }}
{%- endif %}
{%- if not int.shutdown %}
 no shutdown
{%- endif %}
!
{%- endfor %}